canvas, video{
    transform: scale(-1, 1);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

canvas{
    opacity: .7;
}

a{
    display: none;
}

body{
    background-color: black;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

h1{
    width: 100%;
    display: block;
    position: absolute;
    background-color: black;
    padding: 50px;
    z-index: 2;
    top: 0;
}
